@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-background {
  background-image: radial-gradient(
      at 40% 40%,
      rgb(30, 144, 255) 0px,
      transparent 50%
    ),
    radial-gradient(at 90% 10%, rgb(255, 105, 180) 0px, transparent 50%),
    radial-gradient(at 50% 95%, rgb(0, 255, 255) 0px, transparent 50%),
    radial-gradient(at 20% 30%, rgb(50, 205, 50) 0px, transparent 50%),
    radial-gradient(at 90% 90%, rgb(255, 255, 0) 0px, transparent 50%),
    radial-gradient(at 33% 50%, rgb(255, 69, 0) 0px, transparent 65%),
    radial-gradient(at 79% 53%, rgb(128, 0, 128) 0px, transparent 50%);
  position: fixed;
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(100%);
  top: 0px;
  opacity: 0.2;
  transform: translateZ(0px);
}

.background-border {
  height: 100vh;
  width: 100vw;
  color: rgba(113, 113, 113, 0.07);
  position: fixed;
  z-index: -1;
  background: linear-gradient(currentcolor 1px, transparent 1px) 0% 0% / 94px
      90px,
    linear-gradient(to right, currentcolor 1px, transparent 1px) transparent;
  transition: all 0.5s linear 0s;
}

#stalker {
  pointer-events: none;
  position: fixed;
  top: -4px;
  left: -4px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
  z-index: 999;
}

#stalker2 {
  pointer-events: none;
  position: fixed;
  top: -48px;
  left: -48px;
  width: 96px;
  height: 96px;
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: transform 0.5s;
  transition-timing-function: ease-out;
  z-index: 999;
}

@layer components {
  .blinking-cursor:after {
    content: "_";
    /* @apply text-secondary-300; */
    animation: blink 1s step-start infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}
